/* Estilos generales */
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefee6;
    height: auto;
}



.about-section {
    margin: 7% auto; /* Ajuste para centrar la sección */
    max-width: 800px;
    height: auto;
    background-color: #fff;
    padding: 51px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
    background-color: #555513; /* Color de fondo para el pie de página */
    font-size: 12px;
    color: #fff;
    text-align: left;
    padding: 20px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;

}

.contact-info ul li {
    margin-bottom: 0px;
}

.contact-info ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.contact-info ul li a:hover {
    color: #fefee6;
    transition: color 0.3s ease;
}
